 body {
        margin: 0;
        font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI",
          Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
        color: #ffe6cf;
        background-color: #657680;
        font-size: 15px;
        line-height: 1.4;
        font-weight: 500;
        overflow-x: hidden;
        margin-bottom: 0px;
        text-align: center;
      }
      .int-pass{
text-align: center; 
align-items: center;
top: 28%;
left: 0%;
}
.int-pass > input{
    background:transparent; 
    border:none;
    border-bottom: solid 1px #ccc;
    padding: -10px 5px 10px;
    font-size:14pt;
    width: auto;
    height: 1%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.modify-form{
      background-color: #EEEFF1;
      width: 500px;
      height: auto;
      margin-right: auto;
      margin-left: auto;
      margin-top: 50px;
      margin-bottom: 50px;
      padding: 20px;
      text-align: center;
      border: none;
      border-radius: 30px; 
      }
      button[type=submit]{
    background-color: blanchedalmond;
    margin-top: -20px;
    border:none;
    border-radius: 30px;
    margin-right: 20px;
    width: 10%;
    height: 50px;
}
